<!--This view have all the fields that need some views of the comments for example: edit and show-->

<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %> <!--Field type text-->
  </div>

  <div class="field">
    <%= form.label :fecha_ingreso %>
    <%= form.date_select :fecha_ingreso %> <!--Field type date-->
  </div>

  <div class="field">
    <%= form.label :publication_id %>
    <%= form.number_field :publication_id %> <!--Field type integer-->
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %> <!--Field type integer-->
  </div>

  <div class="actions">
    <%= form.submit %> <!--Option to send all of the information on the form-->
  </div>
<% end %>
