<!--This is the view that show all the information of the comment-->

<div class="form">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Descripcion:</strong>
    <%= @comment.descripcion %>  <!--type field text-->
  </p>

  <p>
    <strong>Fecha ingreso:</strong>
    <%= @comment.fecha_ingreso %> <!--type field date-->
  </p>

  <p>
    <strong>Publicacion:</strong>
    <%= @comment.publication_id %> <!--type field integer-->
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= @comment.user_id %> <!--type field integer-->
  </p>

    <div class="move"><%= link_to 'Regresar', comentarios_path %></div> <!--Back option-->
</div>